[submodule "src/stderred"]
	path = src/stderred
	url = git://github.com/sickill/stderred.git
[submodule "src/toramdisk"]
	path = src/toramdisk
	url = git://github.com/swirepe/toramdisk.sh.git
[submodule "src/z"]
	path = src/z
	url = git://github.com/rupa/z.git
[submodule "src/silversearcher"]
	path = src/silversearcher
	url = https://github.com/ggreer/the_silver_searcher
[submodule "src/git-extras"]
	path = src/git-extras
	url = https://github.com/visionmedia/git-extras.git
[submodule "src/oh-my-zsh-copy"]
	path = src/oh-my-zsh-copy
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "src/csvkit"]
	path = src/csvkit
	url = https://github.com/onyxfish/csvkit
[submodule "src/fswatch"]
	path = src/fswatch
	url = https://github.com/alandipert/fswatch.git
[submodule "autonav"]
	path = src/autonav
	url = https://github.com/swirepe/autonav.git
