[submodule "src/stderred"]
	path = src/stderred
	url = git://github.com/sickill/stderred.git
[submodule "src/toramdisk"]
	path = src/toramdisk
	url = git://github.com/swirepe/toramdisk.sh.git
[submodule "src/z"]
	path = src/z
	url = git://github.com/rupa/z.git
[submodule "src/silversearcher"]
	path = src/silversearcher
	url = https://github.com/ggreer/the_silver_searcher
[submodule "src/git-extras"]
	path = src/git-extras
	url = https://github.com/visionmedia/git-extras.git
