# exists in ~/.w3m/config
#
# https://github.com/linsong/w3m-config/blob/master/config
# http://unix.stackexchange.com/questions/12497/yanking-urls-in-w3m
# esc M - copy url under cursor to yanked.tdt
# 2 esc M - send url under cursor to bittorrent
extbrowser bash -c 'printf "%s\n" "$0" >> ~/.w3m/yanked.txt'
extbrowser btadd 
